<app-top-logggedin-header></app-top-logggedin-header>
<div *ngIf="settings">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" *ngIf="auth.user$ | async as user">
        <h3>{{user.displayName}}</h3>
        <img src={{user.photoURL}}>
        <h3>{{user.email}}</h3>
        <a class="btn btn-outline-primary" (click)="signOut()">Log out</a>
        <a class="btn btn-outline-primary" (click)="deleteaccount()">Delete Account</a>
    </div>
</div>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>