.sign-in-github {
    background: url('/assets/img/github-logo.png') #f2f2f2;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 41px;
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
    width: 220px;
  }
  .sign-in-github:hover {
    background: url('/assets/img/github-logo.png') #e0e0e0;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 41px;
    color: #fff;
    background-color: rgb(131, 124, 124);
    border-color: rgba(0,0,0,0.2);
    width: 220px;
  }
