.sign-in-google {
    background: url('/assets/img/google-icon.png') #f2f2f2;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 41px;
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
    width: 220px;
}
  .sign-in-google:hover {
    background: url('/assets/img/google-icon.png') #e0e0e0;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 41px;
    color: #fff;
    background-color: #e4bab5;
    border-color: rgba(0,0,0,0.2);
    width: 220px;
}
