<app-top-header></app-top-header>
<!-- <div class="form-signin">
  <div class="login-img-div">
    <img class="mb-4" src="../../assets/img/unknown.png" style="border-radius: 50px;" width="100" height="100">
  </div> 
   
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" style="margin-bottom: 12px;" [(ngModel)]="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="password">
    <div class="checkbox mb-3">
    </div>
    <p>please use social login</p>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="btnLogin" (click)="signIn()"(keyup.enter)="signIn()">Sign in</button><p>or</p>
<!--     <app-facebook></app-facebook>
    <app-twiter></app-twiter>
    <app-google></app-google>
    <app-github></app-github>
    <p class="lead" id="status"> {{ error }}</p>
  </div>

-->

<div>
  <app-firebase-ui-signup> </app-firebase-ui-signup>
</div>
