<app-top-logggedin-header></app-top-logggedin-header>
<app-loading>
    <div class='create-chat-parent'>
        <a _ngcontent-lyb-c18="" href="/create-chat" class="btn btn-outline-primary">Create Chat Room</a>
        <a _ngcontent-lyb-c18="" href="/createchat" class="btn btn-outline-primary">Create Private Chat</a>
    </div>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <app-cb-chat-group-box [chatGroups]="chatGroups$ | async"
                    (chatGroupSelectionChange)="onSelectedChatGroupChange($event)"></app-cb-chat-group-box>
            </div>
            <div class="col-md-8 col-xl-6 chat">

                <ng-container *ngIf="chat$ | async as chat">
                    <ng-container *ngIf=" auth.user$ | async as user">
                        <div class="card">
                            <div class="card-header msg_head">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="{{ chat.iconPath }}" class="rounded-circle user_img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>{{ chat.name }}</span>
                                        <p>{{ chat?.messages?.length || '0' }} Messages</p>
                                    </div>

                                </div>
                                <span id="action_menu_btn" onclick="$('.action_menu').toggle();"><i
                                        class="fas fa-ellipsis-v"></i></span>
                                <div class="action_menu">
                                    <ul>
                                        <li (click)="deleteChatGroup(chat.id)" class="menu-icon"><i
                                                class="fas fa-trash-alt"></i> Delete chat group</li>
                                        <li><i class="fas fa-info-circle"></i> Change details</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body msg_card_body">

                                <app-cb-chat-msg-box [messages]="chat.messages" [currentUserId]="currentUser.uid"
                                    [chatId]="chat.id"> </app-cb-chat-msg-box>

                            </div>
                            <div class="card-footer">
                                <div class="input-group">

                                    <input name="" class="form-control type_msg" placeholder="Type your message..."
                                        [(ngModel)]="chatTypingMsg" (keyup.enter)="submit()">
                                    <div class="input-group-append" (click)="submit()">
                                        <span class="input-group-text send_btn"><i
                                                class="fas fa-location-arrow"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</app-loading>