.homeImg {
    width: 200px;
    height: 250px;
  }
  
  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }


    .loggedin-user-img {
      height: 55px;
      margin-right: 11px;
    }

    .loggedin-user-img img {
      width: 55px;
      height: 55px;
      border-radius: 50px;
    }

    main {
       position: absolute;
    }