<button (click)="checkPayment()">check payment status</button>
<pre> {{response | json}}</pre>
<div id="coin" *ngIf="(payment.paid)">
    <div id="button">
        <button (click)="payment.checkout()">Buy Now</button>
    </div>
    <div id="title">
        <h2>{{product.title}}</h2>
        <div id="subtitle">
            <h4>{{product.subTitle}}</h4>
        </div>
       </div>
       <div id="price">
        <h1>{{product.price | currency}}</h1>
       </div>
       <div id="about">
        <p>{{product.description}}</p>
       </div>
</div>
<div id="container" *ngIf="(!payment.paid)">
    <div id="title">
        <h2>Zaid Pro</h2>
        <div id="subtitle">
            <h4>Zaid Pro</h4>
        </div>
       </div>
       <div id="price">
        <h1>$3.00</h1>
       </div>
       <div id="about">
        <p>you have already paid for Zaid Pro</p>
       </div>
</div>