<app-top-header></app-top-header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" >Zaid Salman</h1>
    <h3>Hi, Guest login to chat</h3>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Me & Parrot</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                   <img src="./assets/img/zaid-parrot.jpg" class="homeImg" />
                </ul>
                
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">QR Code</h4>
            </div>
            <div class="card-body">
                <img src="./assets/img/QR-code.jpg" class="homeImg">
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Youtube Pic</h4>
            </div>
            <div class="card-body">
              
                <img src="./assets/img/zaid.jpg" class="homeImg" />
            </div>
        </div>
    </div>

  
</div>